<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584662604579-sr07ilp187r9g4kct5j0t1dr7kn2p3u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584662604579-sr07ilp187r9g4kct5j0t1dr7kn2p3u5</string>
	<key>API_KEY</key>
	<string>AIzaSyBA09j1-e8fBt70qMVNAJqSN3POw_yARTc</string>
	<key>GCM_SENDER_ID</key>
	<string>584662604579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cineartsAcademyApp</string>
	<key>PROJECT_ID</key>
	<string>cinearts-academy-9a8a1</string>
	<key>STORAGE_BUCKET</key>
	<string>cinearts-academy-9a8a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584662604579:ios:3481f9da3545fa568dca96</string>
</dict>
</plist>